html {
  background-color: #000;
}

.navbar-inverse {
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
  border-color: transparent;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.main-container {
  background-color: #000;
}

.container-fluid {
  background-color: #000;
}


.carousel-caption {
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 10%;
  height: 100%;
}

.row-fullbleed {
  z-index: -5;
  padding-top: : 0;
  margin-top: 0;
  margin-left: -10%;
  margin-right: -10%;
}
